/* BASIC STYLES HERE */
body {
  background-size: cover;
  background-position: center;
}

footer {
  background-color: transparent;
  position: fixed;
  bottom: 0px;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.my-text {
  color: #e9ecef;
  font-weight: bold;
  text-shadow: 1px 1px black;
}

.author {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity .5s linear;
}

.quote:hover+.author {
  visibility: visible;
  opacity: 1;
}

.glass-card {
  padding: 1em;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.498);
  min-width: 6vw
}

.todo-card {
  padding: 1em;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.498);
  width: 25vw;
  position: fixed;
  bottom: 150px;
  right: 15px;
}

#weather {
  position: fixed;
  left: 15px;
  top: 15px
}

.my-clock {
  font-size: 6em;
}

.inline-input {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px
}

.btn-search {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px
}